@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

main {
  border-radius: 3px;
  aspect-ratio: 9/16;
  max-width: 375px;
  width: 100vw;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-content: center;
}
